.conteiner {
    height: 540px;
    background-image: url(img/top_back.png);
    justify-content: flex-start;
    margin: 0 auto;
    height: 0 auto;
    position: relative;
    padding: 20px;
    background-repeat: no-repeat;
    background-position: right;
}

.header {
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    justify-content: space-between;
    text-decoration: none;

}

.text {
    width: 360px;
    position: absolute;
    top: 150px;
}

.name {
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    width: 428px;
    height: 72px;
    left: 670px;
    top: 608px;
}

.inText {
    width: 428px;
    height: 72px;
    left: 670px;
    top: 750px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;

}

.write {
    width: 428px;
    height: 144px;
    left: 670px;
    top: 892px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
}

.butMas {
    width: 428px;
    height: 72px;
    left: 670px;
    top: 1108px;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

}

.ProductHome {
    color: thistle;
}

.pProduct {
    text-align: center;
    font-size: 24px;
    color: black;
}

.content {
    display: flex;
    justify-content: space-around;
    background-image: url(img/project1.png);
    min-height: 500px;
    padding: 20px;
    flex-wrap: wrap;
}

.product {
    height: 300px;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #000;
    font-size: 12px;
}

.finish {
    height: 150px;
    text-align: center;
    background-color: aqua;

}

.basement {
    background: #316099;
    margin-top: 25px;
    padding: 20px;
}


.block-1 {
    width: 340px;
    height: 200px;
}

.hTree {
    color: indigo;
}

.bb {
    display: flex;
    justify-content: space-between;
    min-height: 200px;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.hOne {
    width: 510px;
}

.TextP {
    width: 425px;
}

.top_parag {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.6);
}

.contactUs {
    margin-top: 40px;
    margin-bottom: 40px;
    padding-top: 50px;
    text-align: center;
    background: linear-gradient(253.6deg, #98D0FC 2.46%, #3481D7 93.24%);
    height: 300px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    color: #FFFFFF
}

.ContHome {
    display: flex;
    justify-content: space-around;
    height: 1000px;
}

.SendMessage {
    width: 540px;
    height: 800px;
    left: 614px;
    top: 436px;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding-left: 110px;
}



.map {
    display: flex;
    justify-content: center;
}

.hFour {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.Phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    list-style-type: none;
    text-decoration: none;
}

.hThree {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.buttonBase {
    width: 236.63px;
    height: 56px;
    background: #5A98D0;
    margin-top: 30px;
}

.pBase {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-left: 58px;
}

.block {
    padding: 20PX;
}

.pBB {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
}

@media(max-width: 500px) {
    .conteiner {
        flex-direction: column;
    }

    .ProductHome {
        flex-direction: column;
    }

    .basement {
        flex-direction: column;
    }
}